:root {
  --moveup-number: 1;
  --blackboard-lineheight: 0px;
  --main-bg-color: black;
  --text-color: white;
  --pour-ani-count: 1;
}

body {
  height: 54.25vw;

  padding: 0;
  /* background: rgb(207,126,68); */
  background: linear-gradient(172deg, rgba(207, 126, 68, 1) 0%, rgba(207, 126, 68, 1) 33%, rgba(45, 126, 133, 1) 67%);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 200% 200%;
  animation: pulsebg 4s ease infinite;
}

#content {
  margin: 1.7%;
  background: var(--main-bg-color);
  -webkit-box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.75);
  border: 3px solid var(--text-color);
}

h1,
h2,
h3 {
  color: var(--text-color);
  font-family: "Vast Shadow", cursive;
  font-weight: 400;
}
h4,
p,
span {
  color: var(--text-color);
  font-family: "Glass Antiqua", cursive;
}

h2 {
  font-size: 40px;
  margin-top: 100px;
}

h3 {
  font-size: 30px;
}

header {
  border-bottom: 3px solid var(--text-color);
  display: flex;
  justify-content: flex-end;
}

header h3 {
  margin: 0;
  padding: 0;
  padding-right: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: -6px;
  font-size: 40px;
  font-family: "barrio", cursive;
}

#grid_container {
  display: grid;
  grid-template-areas: "a a b c";
  /* grid-template-columns: 2fr 1fr 1fr; */
  margin: 0 5%;
}

#ranking {
  grid-area: a;
}

#ranking img {
  width: 20%;
  margin-right: 2%;
}

#ranking #rank1 {
  width: 40%;
}

#ranking #rank2 {
  width: 29%;
}

#ranking #rankbottom1 {
  width: 19%;
}

#ranking #rankbottom2 {
  width: 19%;
}

#blackboard {
  margin-right: 10%;
  grid-area: b;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  padding: 40px;
  padding-top: 80px;
  background-image: url("./static/dashboard/img/blackboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 75%;
}

#blackboard article {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#blackboard_line {
  width: 3px;
  background-color: white;

  margin-right: 10%;
  margin-left: 5%;
  margin-bottom: 5%;
}

#blackboard span {
  font-size: 32px;
  color: white;
  margin-right: 20px;
}

#serving {
  grid-area: c;
}

#svg_flex {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.svg_container {
  border-radius: 50%;
  padding: 20px;
  background: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: var(--svg-height);
}

/* to create the waterlike animation i have used this toturial https://www.youtube.com/watch?v=fKdsaWrrjNM */
.mug {
  border: 4px solid black;
  border-top: none;

  height: 5%;
  width: 1.6%;
  position: absolute;
  z-index: 3;
  /* transform: translate(100%, 40%); */
  background-image: url("./static/dashboard/img/waterAni.svg");
  background-repeat: repeat-x;
  background-size: cover;
  opacity: 0;
}
svg {
  background: none;
}

.serving_number {
  color: var(--main-bg-color);
  margin: 0;
  font-size: 32px;
}

.serving_beer {
  width: 70%;
}

.beerPour {
  animation: beerPour 5s linear forwards;
  /*  animation-iteration-count: var(--pour-ani-count); */
}

/* to create the waterlike animation i have used this toturial https://www.youtube.com/watch?v=fKdsaWrrjNM */
@keyframes beerPour {
  0% {
    background-position: 0 80px;
    opacity: 1;
  }

  60% {
    background-position: 400px 0px;
  }
  80% {
    background-position: 500px 0px;
    opacity: 1;
  }
  100% {
    background-position: 550px 0px;
    opacity: 0;
  }
}

.insert {
  animation: insert 1s cubic-bezier(0.17, 0.67, 0.05, 1.15) forwards;
}

@keyframes insert {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.remove {
  animation: remove 1.2s cubic-bezier(0.52, -0.12, 0.93, 0.3) forwards 1s;
}

@keyframes remove {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(200%);
  }
}

.moveup {
  animation: moveup 0.5s ease-in-out forwards;
  transform: translateY(calc((-100% - 10px) * var(--moveup-number)));
}

@keyframes moveup {
  from {
    transform: translateX(0%);
  }
  /*   90% {
    transform: translateY(calc((-100% - 10px) * var(--moveup-number)));
  }
  90.1% {
    transform: translateY(calc((0%) * var(--moveup-number)));
  } */
  100% {
    /* transform: translateY(calc((0%) * var(--moveup-number))); */
    transform: translateY(calc((-100% - 10px) * var(--moveup-number)));
  }
}

[data-name="Layer 1"] > path {
  fill: #fff;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 6px;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
}

.dash {
  animation: dash 2s linear forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.unDash {
  animation: unDash 2s linear forwards;
}

@keyframes unDash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1;
  }
}

.rotateShift {
  animation: rotateShift 1s cubic-bezier(0.17, 0.67, 0.05, 1.15) forwards;
}

@keyframes rotateShift {
  from {
    transform: rotate(0deg) scale(1);
  }

  70% {
    transform: rotate(3615deg) scale(0.7);
  }
  to {
    transform: rotate(3600deg) scale(1);
  }
}

@keyframes pulsebg {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 40%;
  }
  100% {
    background-position: 0% 10%;
  }
}
/* alternative 
  from {
    transform: rotate(0deg) scale(1);
  }
  50%{
    transform: rotate(2700deg) scale(0.7);
  }

  90% {
    transform: rotate(3615deg) scale(0.7);
  }
  to {
    transform: rotate(3600deg) scale(1);
  }
}

*/

@media only screen and (max-width: 1500px) {
  body {
    height: auto;
  }

  #grid_container {
    display: grid;
    grid-template-columns: unset;
    grid-template-areas: "a a" "b c";

    margin: 0 5%;
  }
  .mug {
    height: 8%;
    width: 4%;
  }

  #content {
    margin: 1.7%;
    background: var(--main-bg-color);
    -webkit-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
  }
}

@media only screen and (max-width: 800px) {
  #grid_container {
    display: grid;
    grid-template-areas: "a" "b" "c";
    margin: 0 5%;
  }
  #blackboard {
    margin-right: 0%;
  }
  .mug {
    height: 9%;
    width: calc(2% + 30px);
  }
}

img {
  width: 100%;
}
