/* https://slides.com/dannievinther/styling-forms/#/16 */

:root {
  --form-main-color: #2d7e85;
  --form-focus-color: #cf7e44;
  --bg-color: white;
  --text-color: black;
}

body {
  width: 340px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Vast Shadow", cursive;
  font-weight: 400;
}
h4,
p,
span,
label,
a,
button {
  font-family: "Glass Antiqua", cursive;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p,
span,
label,
a,
button {
  font-size: 20px;
}

#formsection {
  width: 340px;
  margin: 0 auto;
}

.form-group {
  display: grid;
}

#creditcardform input {
  border: none;
  background-color: var(--form-main-color);
  padding: 6px;
  padding-top: 8px;
  padding-left: 10px;
  margin-bottom: 3px;
  font-size: 16px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.41);
  color: var(--bg-color);
}

#creditcardform #dateform-group {
  display: flex;
}

#creditcardform .datesingle-form {
  display: flex;
  flex-direction: column;

  width: 80px;
}

#dateform-slash {
  font-weight: 900;
  font-size: 26px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

#creditcardform #controlnumber_container {
  margin-left: 30px;
  width: 120px;
}

label {
  margin-top: 10px;
}

#creditcardform input:focus {
  background-color: var(--form-focus-color);
  outline: none;
}
/* Input spinners removed. This code is taken from: https://css-tricks.com/snippets/css/turn-off-number-input-spinners/ */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#creditcardform input:invalid:not(:placeholder-shown):not(:focus) + .error {
  max-height: 4.5rem;
}

input:invalid:not(:placeholder-shown):not(:focus) {
  background-position: right 10px center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-image: url("./static/orderform/img/erroricon.svg");

  /* animation: shake .125s 2 backwards; */
}

input:valid:not(:placeholder-shown):not(:focus) {
  background-position: right 10px center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-image: url("./static/orderform/img/succesicon.svg");

  /* animation: shake .125s 2 backwards; */
}

/* transition example taken from KEA slides: https://slides.com/dannievinther/styling-forms/#/16 */
.error {
  color: crimson;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s max-height;
}

input::-webkit-input-placeholder {
  opacity: 0;
}

#formsection a {
  text-decoration: none;
  color: rgb(61, 61, 61);
  margin-left: 50px;
}

#formsection button {
  border: none;
  cursor: pointer;
  background-color: var(--form-focus-color);
  color: var(--bg-color);
  padding: 12px 47px;
  margin-left: 50px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.41);
  transition: all 0.15s ease;
}

#formsection button:hover {
  background-color: var(--form-main-color);
  transform: translateY(-1px);
  transition: 0.2s;
}

#goBack,
#goFrontpage {
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: var(--form-main-color);
  color: var(--bg-color);
  padding: 12px 47px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.41);
  transition: all 0.15s ease;
  text-decoration: none;
}

#goBack:hover,
#goFrontpage:hover {
  background-color: var(--form-main-color);
  transition: 0.2s;
}

#formsection .margintop20 {
  margin-top: 20px;
}
#formsection .margintop10 {
  margin-top: 10px;
}

#list {
  border-left: 3px solid var(--form-main-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  margin: 30px auto;
  padding: 0 20px;
}

#list img {
  width: 15%;
}

.beer_amount {
  margin: 0 16px;
}

#list article {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#list article:last-child {
  margin-bottom: 0px;
}

#price_section {
  display: flex;
  justify-content: flex-end;
}

#price_section p {
  margin: 0;
}

#loading_img {
  opacity: 0;
  width: 20%;
  margin-left: 70%;
  margin-top: 20px;
}

#loading_img.rotate_load {
  opacity: 1;
}

#order_succes,
#order_fail {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#order_succes.unhide_content {
  opacity: 1;
}

#order_succes h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#order_succes p {
  margin-top: 10px;
  margin-bottom: 6px;
}

/* #order_succes #paymentDetails{
  dis
} */

.rotate_load {
  animation: rotate_load 1.2s cubic-bezier(0.75, 0, 0.32, 0.99) infinite;
}

@keyframes rotate_load {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hide_content {
  animation: hide 0.75s ease-in forwards;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.unhide_content {
  animation: unhide 0.75s ease-in forwards;
}

@keyframes unhide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
