/* https://slides.com/dannievinther/styling-forms/#/16 */

:root {
  --form-main-color: #c0dbc7;
  --form-focus-color: #88e0a1;
}

#formsection {
  width: 340px;
  margin: 0 auto;
}

.form-group {
  display: grid;
}

#creditcardform input {
  border: none;
  background-color: var(--form-main-color);
  padding: 6px;
  padding-top: 8px;
  padding-left: 10px;
  margin-bottom: 3px;
  font-size: 16px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.41);
}

#creditcardform #dateform-group {
  display: flex;
}

#creditcardform .datesingle-form {
  display: flex;
  flex-direction: column;

  width: 70px;
}

#dateform-slash {
  font-weight: 900;
  font-size: 26px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

#creditcardform #controlnumber_container {
  margin-left: 70px;
  width: 100px;
}

label {
  margin-top: 10px;
}

#creditcardform input:focus {
  background-color: var(--form-focus-color);
  outline: none;
}
/* Input spinners removed. This code is taken from: https://css-tricks.com/snippets/css/turn-off-number-input-spinners/ */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#creditcardform input:invalid:not(:placeholder-shown):not(:focus) + .error {
  max-height: 3rem;
}

input:invalid:not(:placeholder-shown):not(:focus) {
  background-position: right 10px center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-image: url(static/img/erroricon.svg);

  /* animation: shake .125s 2 backwards; */
}

input:valid:not(:placeholder-shown):not(:focus) {
  background-position: right 10px center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-image: url(static/img/succesicon.svg);

  /* animation: shake .125s 2 backwards; */
}

/* transition example taken from KEA slides: https://slides.com/dannievinther/styling-forms/#/16 */
.error {
  color: crimson;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s max-height;
}

input::-webkit-input-placeholder {
  opacity: 0;
}

#formsection a {
  text-decoration: none;
  color: rgb(61, 61, 61);
  margin-left: 50px;
}

#formsection button {
  border: none;
  cursor: pointer;
  background-color: var(--form-focus-color);
  font-size: 16px;
  font-weight: 600;
  padding: 12px 47px;
  margin-left: 50px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.41);
  transition: all 0.15s ease;
}

#formsection button:hover {
  background-color: black;
  color: var(--form-focus-color);
  transform: translateY(-2px);
  transition: 0.2s;
}

#formsection .margintop20 {
  margin-top: 20px;
}
#formsection .margintop10 {
  margin-top: 10px;
}
